@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #0D37C0, #0B1533);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(6, 12, 29, 0.623);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0D37C0;
    text-align: center;
    text-shadow: 1px 1px 2px #09278aaf;
}

h2 {
    color: #0B1533;
}

p {
    text-align: justify;
}